<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RITracking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RITrackingSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>871769CE18CDAFE600C33FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>871769E918CDAFE600C33FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8757747218D4A4DA00E91AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8757747F18D4A4DB00E91AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8757749818D4A61C00E91AB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
